.err-tip-wrap {
  display: inline-block
  line-height: 0;
  outline: 0;
  vertical-align: bottom;
  position: relative
  .err-tip {
    position: absolute;
    top: 100%;
    margin-top: 3px;
    margin-left: 2px;
    color: #c33;
    z-index: 1;
    white-space: nowrap;
    display inline-block
    .err-tip-msg {
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
